.div-conteiner-information-buy{
    background-color: #fe8c00;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    
}

.div-container-buy{
    margin: 2%;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    overflow: hidden;
   background-color:white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Img*/

.div-container-product-img{
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: right;
    top: 20%;
    left: 5%;
    height: 65%;
    width: 30%;
    border-right: rgba(205, 197, 226, 0.692) 0.5vh solid;
    background: rgb(255, 255, 255);
}

.img-product-buy{
    width: 100%;
    height: 100%;
}

/* Information*/

.div-container-product-data{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 35%;
    height: 65%;
    width: 30%;
    border-right: rgba(205, 197, 226, 0.692) 0.5vh solid;
    background: rgb(255, 255, 255);
}

.div-information{
    padding: 20% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.logo-buy{
    width: 50%;
    height: 89%;
    margin-top: -15%;
    display: flex;
    margin-left: 25%;
}

#nameBuy{
    margin-top: 15%;
}

.div-inf-cost-number{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.txt-cost-product{
    margin-right: 60%;
    width: 18%;
    border-radius: 2px;
    background-color: rgb(255, 205, 41);
}

.div-inf-cost{
    margin-top: 10%; 
}

/* Buy */

.div-container-form-buy{
    position: absolute;
    right: 5%;
    top: 20%;
    height: 65%;
    width: 30%;
    background: rgb(255, 255, 255);
}

.form-buy{
    padding: 20% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    
}

.title-buy{
    display: flex;
    justify-content: center;
    padding: 0 0 10%;
}

.div-form-data-buy-number{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.txt-buy-cant{
    width: 20%;
    border: 1px solid rgba(20, 20, 20, 0.507);
    background-color: rgb(240, 235, 235)  ;
}

.input-buy-number{
    width: 20%;
    outline: none ;
}

.button-contaner-buy{
    display: flex;
    justify-content: center;
}

.button-buy{
    border-radius: 25px;
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
    color: white;
    padding: 5% 10% 5%;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 100%;
}

.button-buy:active{
    background: #ffa536;
    color: rgb(240, 240, 240);
}