.Header-controler {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2.2% 0;
}

.nav-controller {
    width: 100%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2% 0;
}

.Block {
    text-decoration: none;
    color: aliceblue;
}


/*Employee*/

.div-container-Employee {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75.7vh;
    overflow: hidden;
    background-image: url('/img/top-left-bg.jpg');
}

.div-container-form-Employee {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 35%;
    height: 65%;
    width: 30%;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.form-Employee {
    padding: 0 40px;
    margin-right: 10%;
    box-sizing: border-box;
}

.div-form-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
}

.title-employee {
    width: 100%;
    padding: 10% 0% 10%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-employee {
    width: 120%;
    outline: none;
    margin-bottom: 5%;
}

.button-contaner-employee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

.button-employee {
    border-radius: 25px;
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
    color: white;
    padding: 10% 15% 10%;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    border: none;
    margin-left: 17%;
    font-size: 100%;
}

.button-employee:focus {
    background: #ffa536;
    color: rgb(240, 240, 240);
}


/* Status*/

.div-container-form-status {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: right;
    top: 30%;
    left: 5%;
    height: 60%;
    width: 25%;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.div-form-status {
    padding: 0 40px;
    margin-right: 10%;
    width: 100%;
    box-sizing: border-box;
}

.div-container-data-status {
    margin-bottom: 15%;
}

.title-status {
    width: 100%;
    padding: 10% 0% 10%;
    margin-left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-status {
    width: 100%;
    outline: none;
}

.buttons-status{
    display: flex;
    justify-content: space-between;
}

.button-status-active {
    border-radius: 5px;
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
    margin-right: 5%;
    padding: 5% 10% 5% ;
    width: 50%;
    cursor: pointer;
    border: none;
    font-size: 100%;
}

.button-status-inactive {
    width: 55%;
    margin-left: 5%;
    border-radius: 5px;
    background: #F00000;
    background: -webkit-linear-gradient(to left, #DC281E, #F00000);
    background: linear-gradient(to left, #DC281E, #F00000);
    color: white;
    padding: 5% 10% 5%;
    cursor: pointer;
    border: none;
    font-size: 100%;
}

.button-status-active:focus{
    background:#00c6ff;
    color: rgb(240, 240, 240);
}

.button-status-inactive:focus{
    background:#fc4545;
    color: rgb(240, 240, 240);
}


/* Menu */

.div-container-Menu {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75.7vh;
    overflow: hidden;
    background-image: url('/img/top-left-bg.jpg');
}

.div-container-form-Menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 35%;
    height: 65%;
    width: 30%;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.form-menu {
    padding: 0 40px;
    margin-right: 10%;
    box-sizing: border-box;
}

.title-Menu {
    margin-top: -10%;
    width: 100%;
    padding: 5% 0% 5%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-form-data-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:5%;
}

.input-Menu {
    width: 100%;
    outline: none;
    margin-bottom: 5%;
}

.input-Menu-precio {
    width: 20%;
    outline: none;
    margin-bottom: 5%;
}

.button-contaner-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.select-menu{
    outline: none;
    margin-left: 2%;
}

.button-menu {
    border-radius: 25px;
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
    color: white;
    padding: 5% 10% 5%;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 100%;
}

.button-menu:focus {
    background: #ffa536;
    color: rgb(240, 240, 240);
}



/*Delete*/

.div-container-form-delete {
    position: absolute;
   right: 5%;
    top: 30%;
    height: 60%;
    width: 25%;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.div-container-data-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form-delete {
    padding: 0 40px;
    margin-right: 10%;
    width: 100%;
    box-sizing: border-box;
}

.title-delete {
    width: 100%;
    padding: 10% 0% 10%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-status-delete{
    width: 55%;
    margin-left: 5%;
    border-radius: 5px;
    background: #F00000;
    background: -webkit-linear-gradient(to left, #DC281E, #F00000);
    background: linear-gradient(to left, #DC281E, #F00000);
    color: white;
    padding: 5% 10% 5%;
    cursor: pointer;
    border: none;
    font-size: 100%;
}

.button-status-delete:focus{
    background:#fc4545;
    color: rgb(240, 240, 240);
}

