.Footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fb5849;
    padding: 2.2% 0;
}
.div-section {
    width: 25%;
    height: 70%;
    float: left;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.div-section2 {
    width: 25%;
    height: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: -5em;
}
.Logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Redes-sociales{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Card-networks-1 {
    width: 13%;
    height: 13%;
    cursor: pointer;
} 
.Card-networks-2 {
    width: 13.4%;
    height: 13.4%; 
    cursor: pointer;
}
.Card-networks-3 {
    width: 15%;
    height: 15%;
    margin-right: 30%;
    cursor: pointer;
}

.copyright{
    color: white;
    font-size: 2.3vh;
}