.portadita{
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}
.Header{
    margin-top: 0px;
    margin-bottom: 0px;

}
.nav{
    margin-top: 0px;
    margin-bottom: 0px;
}

