@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Patrick+Hand&display=swap');

.Body-Inicio{
    display: flex;
}
.div-img-inicio{
  width: 90em;
  height: 37em;
}
.div-img-inicio img{
  width: 100%;
  height: 100%;
}
.txt-inicio{
    background-image: url('../../../public/img/top-left-bg.jpg');
    background-size: cover;
    width: 60em;
    height: 37em;
    text-align: center;
    padding: 15em 0;
}
.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}
.sub-titulo{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
    color: aliceblue;
}